@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eff1f5;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.animatedButton {
  animation-duration: 20000ms;
}

.ql-container, .ql-toolbar, .ql-editor {
  border: none !important;
}